body{
  font-family: cursive;
  background-color: blanchedalmond;
  gap: 3em;
  margin: 1em;
  padding: 1em;
}

.Selection{
  display: flex;
  gap: 3em;
  margin: 1em;
  padding: 1em;
}

.game{
  display: flex;
  gap: 7vw;
}